

html
{
    height: 100%;
}

body
{
    min-height: 100%;
}

.starter-template
{
    width: 100%;
}

.navbar-default
{
    background-color: black!important;
    border-color: black!important;
}

.navbar-default .navbar-nav > li >a:link, h5
{
    color: white!important;
}

.navbar-default .navbar-nav > li >a:hover
{
    color: black!important;
    background-color: lightgray!important;
}

.starter-template.row
{
    width: 100%;
}

.filters
{
    border-right: 1px solid gray;
}

.userbar
{
    border-color: black;
    background-color: rgba(0, 0, 0, 0.87);
    color: #ffffff;
    z-index: -1;
}

.userbarMenu
{
    z-index: 100!important;
}

.footer
{
    background-color: #020202;
    color: #ffffff;
}

.img-circle
{
    float: right;
}

.control-label, h3
{
    font-size: 120%;
    font-weight: bold;
    color: #357ebd;
}

.yellow-star
{
    color: yellow!important;
    font-size: 100%!important;
}

ul
{
    list-style-type: none;
    padding: 0!important;
}

ul>li>a:link.userbar
{
    font-size: 100%!important;
}



#category
{
    width: 135%;
}

.btn.btn-primary.btn-lg
{
    float: right;
}



.jumbotron.panels
{
    width: 90%!important;
    background-image: url('background.jpg');
    border-style: solid;
    border-width: medium;
    border-color:  #357ebd!important;
    overflow-y: scroll!important;
    max-height: 20%!important;
}

.jumbotron.welcome, .jumbotron.welcome-jumbo
{
    background-image: url('assets/images/coding4.jpg')!important;
    height:200%!important;
}

.title
{
    color: #357ebd!important;
    font-size: 120%!important;
    font-weight: bold!important;
}
.welcome,h1{
        color: #357ebd!important;
}
.form-control{
min-height: 100px!important;
}
.search{
min-height:0px!important;
}
#editor { 
      position: absolute;
        top: 8%;
         right: 0;
       bottom: 0;
        left: 0;
    
      }

      .bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}

.bootstrap .autocomplete {
  border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
  color: #262626;
  background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
  font-weight: normal;
  background-color: #ffff00;
}

.bootstrap .autocomplete .suggestion-item.selected em {
  color: #262626;
  background-color: #ffff00;
}

#accordions{
  margin-top: 5%!important;
}
.td{
align: center!important;
}