        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <div class="container-fluid userbar"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                      <a class="navbar-brand" href="#home">CoDR</a> 
                </div>                 
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;"> 
                    <ul class="nav navbar-nav"> 
                        <li>
                            <a href="#home" class="userbarMenu">Home</a>
                        </li>                         
                        <li>
                            <a href="#futurecontests" class="userbarMenu">Contests</a>
                        </li>
                        <li> 
                            <a href="#about" class="userbarMenu">About</a>
                        </li>
                        <li>
                            <a href="#contact" class="userbarMenu">Contact</a>
                        </li>                         
                    </ul>                    
                    <form class="navbar-form navbar-left" role="search"> 
                        <div class="form-group"> 
                            <input type="text" class="form-control search" placeholder="Search"> 
                        </div>                         
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>                         
                    </form>                     
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="#" class="userbarMenu">Welcome, user</a>
                        </li>                         
                        <li class="dropdown"> 
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings&nbsp;<b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="#settings" class="userbarMenu">Settings</a>
                                </li>                                                              
                                <li class="divider"></li>                                 
                                <li>
                                    <a href="#login" class="userbarMenu"><i class="glyphicon glyphicon-off"></i>&nbsp;Logout</a>
                                </li>                                 
                            </ul>                            
                        </li>                         
                    </ul>                     
                </div>                 
            </div>             
        </nav>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron welcome-jumbo" style="background-image:url('assets/images/coding4.jpg');">
            <div class="container">
                <h1 class="welcome">Welcome to CoDR</h1>
                <p class="welcome">We hope that you find this application useful and specially helpful for you self-improvement. If you do have any questions / feedback please let us know using the form below. </p>
                <p></p>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-7">
                    <form role="form" ng-controller="aboutController"> 
                        <div class="form-group"> 
                            <label class="control-label" for="exampleInputEmail1">Email address</label>                             
                            <input type="email" class="form-control search" id="exampleInputEmail1" placeholder="Enter email" ng-model="userFeedback.email">
                        </div>                         
                        <div class="form-group"> 
                            <label class="control-label" for="exampleInputPassword1">First and Last Name</label>                             
                            <input type="text" class="form-control search" id="exampleInputPassword1" placeholder="Insert name" ng-model="userFeedback.name">
                        </div>
                        <div class="form-group"> 
                            <label class="control-label" for="formInput85">Your message:</label>                             
                            <textarea class="form-control" rows="3" id="formInput85" ng-model="userFeedback.text" ></textarea>
                        </div>                         
                        <button type="submit" class="btn btn-lg" ng-click="sendEmail()">Submit</button>                         
                    </form>
                </div>
                <div class="col-md-5">
                    <h2>About CoDR</h2>
                    <p>CoDR (Code Data Visualizer and Recommender) is an app meant to become the best friend of every coder. You can retrieve here a lot of past contests, upcoming events, 
                    solutions to well-known problems, recommendations regarding tutorials, code repositories, theoretical results based on your interests.</p>
                </div>
            </div>
            <hr>
        </div>         
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container footer">
                <p class="navbar-text pull-left">© 2017 - Site Built By Luncasu Victor and Nastasa Laura</p>
                <a href="https://codrapp.wordpress.com/" class="navbar-btn btn-danger btn pull-right"><i class="glyphicon glyphicon-star"></i>&nbsp; See more about this project</a>
            </div>
        </div>
