        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <div class="container-fluid userbar"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                     <a class="navbar-brand" href="#home">CoDR</a> 
                </div>                 
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;"> 
                    <ul class="nav navbar-nav"> 
                        <li>
                            <a href="#home" class="userbarMenu">Home</a>
                        </li>                         
                        <li>
                            <a href="#futurecontests" class="userbarMenu">Contests</a>
                        </li>
                        <li> 
                            <a href="#about" class="userbarMenu">About</a>
                        </li>
                        <li>
                            <a href="#contact" class="userbarMenu">Contact</a>
                        </li>                         
                    </ul>                     
                    <form class="navbar-form navbar-left" role="search"> 
                        <div class="form-group"> 
                            <input type="text" class="form-control search" placeholder="Search"> 
                        </div>                         
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>                         
                    </form>                     
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="#" class="userbarMenu">Welcome, User</a>
                        </li>                         
                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings&nbsp;<b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="#settings" class="userbarMenu">Settings</a>
                                </li>                                                              
                                <li class="divider"></li>                                 
                                <li>
                                    <a href="#login" class="userbarMenu"><i class="glyphicon glyphicon-off"></i>&nbsp;Logout</a>
                                </li>                                 
                            </ul>                             
                        </li>                         
                    </ul>                     
                </div>                 
            </div>             
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 sidebar col-md-3">
                    <h3>{{challenge['name']}}</h3> 
                    <p>{{challenge['desc']}}</p>
                </div>
                <div class="main col-sm-offset-3">
                    <h1 class="page-header">Submissions</h1>
                    <div class="table-responsive">
                        <table ng-table ="usersTable" class="table table-striped">
                            <tr ng-repeat="x in $data">
                            <td data-title="'SolutionID'"><a href="#/solution/{{x['id']}}">{{x['id']}}</a></td>
                            <td data-title="'Submission Date'">{{x['submission_date'] | date: 'medium'}}</td>
                            <td data-title="'Language'">{{x['lang']}}</td>
                            </tr>
                            </table>
                    </div>
                </div>
                <div class="main col-sm-offset-3">
                    <h1 class="page-header">Recommended for you</h1>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/images/algorithm.jpg" class="img-responsive" alt="Generic placeholder thumbnail" style="background-image:url('assets/images/algorithm.jpg');">
                            <a href="#"><h4 class="recommendation">Algorithms</h4></a>
                            <br>
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/js.png" class="img-responsive" alt="Generic placeholder thumbnail">
                            <a href="#"><h4 class="recommendation">Javascript</h4></a>
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/responsive.jpg" class="img-responsive" alt="Generic placeholder thumbnail"> 
                            <a href="#"><h4 class="recommendation">Responsive Design</h4> </a>
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/responsive.jpg" class="img-responsive" alt="Generic placeholder thumbnail"> 
                            <a href="#"><h4 class="recommendation">Responsive Design</h4> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container footer">
                <p class="navbar-text pull-left">© 2017 - Site Built By Luncasu Victor and Nastasa Laura</p>
                <a href="https://codrapp.wordpress.com/" class="navbar-btn btn-danger btn pull-right"><i class="glyphicon glyphicon-star"></i>&nbsp; See more about this project</a>
            </div>
        </div>