        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <div class="container-fluid userbar"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                    <a class="navbar-brand" href="#home">CoDR</a> 
                </div>                 
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;"> 
                    <ul class="nav navbar-nav"> 
                        <li>
                            <a href="#home" class="userbarMenu">Home</a>
                        </li>                         
                        <li>
                            <a href="#futurecontests" class="userbarMenu">Contests</a>
                        </li>
                        <li> 
                            <a href="#about" class="userbarMenu">About</a>
                        </li>
                        <li>
                            <a href="#contact" class="userbarMenu">Contact</a>
                        </li>                         
                    </ul>                       
                    <form class="navbar-form navbar-left" role="search"> 
                        <div class="form-group"> 
                            <input type="text" class="form-control search" placeholder="Search"> 
                        </div>                         
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>                         
                    </form>                     
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="#" class="userbarMenu">Welcome, User</a>
                        </li>                         
                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings&nbsp;<b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="#settings" class="userbarMenu">Settings</a>
                                </li>                                                              
                                <li class="divider"></li>                                 
                                <li>
                                    <a href="#login" class="userbarMenu"><i class="glyphicon glyphicon-off"></i>&nbsp;Logout</a>
                                </li>                                 
                            </ul>                          
                        </li>                         
                    </ul>                     
                </div>                 
            </div>             
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <a href="#">Upcoming contests <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="#pastcontests">Finished contests</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-offset-2 main col-md-10 col-sm-9 col-sm-offset-3">
                    <h1 class="page-header">Contests Information</h1>
                    <div class="row placeholders">
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img src="assets/images/algorithm.jpg" class="img-responsive" alt="Generic placeholder thumbnail" style="background-image:url('assets/images/algorithm.jpg');">
                            <h4>Algorithms</h4>
                            <br>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img src="assets/images/js.png" class="img-responsive" alt="Generic placeholder thumbnail">
                            <h4>Javascript</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img src="assets/images/css2.png" class="img-responsive" alt="Generic placeholder thumbnail">
                            <h4>CSS</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img src="assets/images/responsive.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                            <h4>Responsive Design</h4>
                        </div>
                    </div>
                    <h2 class="sub-header">Upcoming Contests</h2>
                    <div class="table-responsive">
                        <table ng-table ="newContestsTable" class="table table-striped">
                        
                            <tr ng-repeat="x in $data">
                            <td data-title="'ID'"><a ng-href="http://codeforces.com/contest/{{x.id}}">{{x.id}}</a></td>
                            <td data-title="'Name'">{{x.name}}</td>
                            <td data-title="'Type'">{{x.type}}</td>
                            <td data-title="'Duration'">{{x.duration}}</td>
                            <td data-title="'Start Date'">{{x.start_date | date:'medium'}}</td>
                            </tr>
                           
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container footer">
                <p class="navbar-text pull-left">© 2017 - Site Built By Luncasu Victor and Nastasa Laura</p>
                <a href="https://codrapp.wordpress.com/" class="navbar-btn btn-danger btn pull-right"><i class="glyphicon glyphicon-star"></i>&nbsp; See more about this project</a>
            </div>
        </div>

