        <nav class="navbar navbar-default" role="navigation"> 
            <div class="container-fluid userbar"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                    <a class="navbar-brand" href="#home">CoDR</a> 
                </div>                 
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;"> 
                    <ul class="nav navbar-nav"> 
                        <li>
                            <a href="#home" class="userbarMenu">Home</a>
                        </li>                         
                        <li>
                            <a href="#futurecontests" class="userbarMenu">Contests</a>
                        </li>
                        <li> 
                            <a href="#about" class="userbarMenu">About</a>
                        </li>
                        <li>
                            <a href="#contact" class="userbarMenu">Contact</a>
                        </li>                         
                    </ul>                     
                    <form class="navbar-form navbar-left" role="search"> 
                        <div class="form-group"> 
                            <input type="text" class="form-control search" placeholder="Search"> 
                        </div>                         
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>                         
                    </form>                     
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="#" class="userbarMenu">Welcome, Laura</a>
                        </li>                         
                        <li class="dropdown"> 
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings&nbsp;<b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="#settings" class="userbarMenu">Settings</a>
                                </li>                                                              
                                <li class="divider"></li>                                 
                                <li>
                                    <a href="#login" class="userbarMenu"><i class="glyphicon glyphicon-off"></i>&nbsp;Logout</a>
                                </li>                                 
                            </ul>                           
                        </li>                         
                    </ul>                     
                </div>                 
            </div>             
        </nav>
        <div class="container">
            <div class="starter-template">
                <div class="row">
                    <div class="filters col-md-2">
                        <h3>Filtering</h3>
                        <br>
                        <form ng-controller="filterController">
                            <div class="form-group"> 
                                <label class="control-label" for="formInput783">Language:</label>                                 
                                <div class="btn-group"> 
                                                       
                                    <select ng-model="filters.programmingLanguage" ng-options="x for x in programmingLanguages" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                         <option value=''>- Please Choose -</option>
                                        {{x}}
                                    </select>                                
                                </div>                                 
                                <label class="control-label">Participants:</label>
                                <div class="radio">
                                    <label> 
                                        <input type="radio" name="group" ng-model="filters.participants" checked="" value="50"> &gt;50
                                    </label>                                     
                                </div>
                                    <div class="radio">
                                    <label> 
                                        <input type="radio" name="group" ng-model="filters.participants" checked="" value="20"> &gt;20
                                    </label>                                     
                                </div>
                                        <div class="radio">
                                    <label> 
                                        <input type="radio" name="group" ng-model="filters.participants" checked="" value="10"> &gt;10
                                    </label>                                     
                                </div>
                            </div>
                            <label class="control-label">Difficulty:</label>
                            <br>
                            <div class="checkbox"> 
                                <label class="yellow-star"> 
                                    <input type="checkbox" value="1" ng-model="filters.difficultyEasy">
                                    <i class="glyphicon glyphicon-star"></i> 
                                </label>                                 
                            </div>
                            <div class="checkbox"> 
                                <label class="yellow-star"> 
                                    <input type="checkbox" value="2" ng-model="filters.difficultyMedium">
                                    <i class="glyphicon glyphicon-star"></i> 
                                    <i class="glyphicon glyphicon-star"></i> 
                                </label>                                 
                            </div>
                            <div class="checkbox"> 
                                <label class="yellow-star"> 
                                    <input type="checkbox" value="3" ng-model="filters.difficultyHard">
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i> 
                                </label>                                 
                            </div>
                            <div class="form-group"> 
                                <label class="control-label" for="formInput1110">Problem Source:</label>                                 
                                <br>
                                <div class="btn-group"> 
                                     <select ng-model="filters.problemSource"
                                     class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <option  value=""> - Please Select - </option>
                                        <option ng-repeat="x in problemSources" value="{{x.uri}}"> {{x.name}}</option>
                                    </select>                                  
                                </div>                                 
                                <br>
                            </div>
                            <label class="control-label">Tags:</label>
                            <br>
                             <tags-input class="bootstrap"
                                            ng-model="filters.tags"
                                            placeholder="Add tag"
                                            replace-spaces-with-dashes="false">
                                  <auto-complete source="loadTags()"
                                                 min-length="0"
                                                 debounce-delay="0"
                                                 max-results="10"></auto-complete>
                            </tags-input>
                            <br>
                            <center>
                                <button type="submit" class="btn btn-info" ng-click="filter()">Filter!</button>                                 
                            </center>
                        </form>
                    </div>
                    <div class="col-md-8" >
                        <div class="row" id="category">
                            <div class="col-md-6 text-left">
                                <div class="jumbotron panels"> 
                                    <div class="row">
                                        <div class="col-md-8" >
                                            <h4 class="title">{{categories[0]}}</h4> 
                                            <ul data-ng-repeat="challenge in challengesFrontend">

                                                    <li class="list"><i class="glyphicon glyphicon-star"></i><a ng-href="#/challenge/{{challenge['id']}}" class="inside-panel">{{challenge["name"]}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <center> 
                                                <img src="assets/images/css.png" class="img-circle img-responsive clearfix" /> 
                                            </center>
                                        </div>
                                    </div>
                                    <p><a class="btn btn-primary btn-lg" role="button" href="#category/Frontend">Check out more</a></p> 
                                </div>                                 
                            </div>
                            <div class="col-md-6"> 
                                <div class="jumbotron panels"> 
                                    <div class="row">
                                            <div class="col-md-8">
                                            <h4 class="title">{{categories[1]}}</h4> 
                                            <ul data-ng-repeat="challenge in challengesScripting">
                                                
                                                    <li class="list"><i class="glyphicon glyphicon-star"></i><a ng-href="#/challenge/{{challenge['id']}}" class="inside-panel">{{challenge["name"]}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <center> 
                                                <img src="assets/images/css.png" class="img-circle img-responsive clearfix" /> 
                                            </center>
                                        </div>
                                    </div>
                                    <p><a class="btn btn-primary btn-lg" role="button" href="#category/Scripting">Check out more</a></p> 
                                </div>                                 
                            </div>
                            <div class="col-md-6"> 
                                <div class="jumbotron panels"> 
                                    <div class="row">
                                                <div class="col-md-8">
                                            <h4 class="title">{{categories[2]}}</h4> 
                                            <ul data-ng-repeat="challenge in challengesDatabases">
                                                
                                                   <li class="list"><i class="glyphicon glyphicon-star"></i><a ng-href="#/challenge/{{challenge['id']}}" class="inside-panel">{{challenge["name"]}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <center> 
                                                <img src="assets/images/css.png" class="img-circle img-responsive clearfix" /> 
                                            </center>
                                        </div>
                                    </div>
                                    <p><a class="btn btn-primary btn-lg" role="button" href="#category/Databases">Check out more</a></p> 
                                </div>                                 
                            </div>
                            <div class="col-md-6"> 
                                <div class="jumbotron panels"> 
                                    <div class="row">
                                          <div class="col-md-8">
                                            <h4 class="title">{{categories[3]}}</h4> 
                                            <ul data-ng-repeat="challenge in challengesOthers">
                                                
                                                    <li class="list"><i class="glyphicon glyphicon-star"></i><a ng-href="#/challenge/{{challenge['id']}}" class="inside-panel">{{challenge["name"]}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <center> 
                                                <img src="assets/images/css.png" class="img-circle img-responsive clearfix" /> 
                                            </center>
                                        </div>
                                    </div>
                                    <p><a class="btn btn-primary btn-lg" role="button" href="#category/Others">Check out more</a></p> 
                                </div>                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			</div>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container footer">
                    <p class="navbar-text pull-left">© 2017 - Site Built By Luncasu Victor and Nastasa Laura</p>
                    <a href="https://codrapp.wordpress.com/" class="navbar-btn btn-danger btn pull-right"><i class="glyphicon glyphicon-star"></i>&nbsp; See more about this project</a>
                </div>
            </div>