 <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home">CoDR</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <h5>Login in with: </h5>
                        </div>
                        <button class="btn btn-facebook" onclick="hello('facebook').login()">
                            <i class="fa fa-facebook" ></i>
                        </button>
                        <button class="btn btn-linkedin" onclick="hello('linkedin').login()">
                            <i class="fa fa-linkedin"></i>
                        </button>
                        <button class="btn btn-github" onclick="hello('github').login()">
                            <i class="fa fa-github"></i>
                        </button>
                    </form>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron welcome-jumbo" >
            <div class="container">
                <h1 class="welcome">Welcome to CoDR</h1>
                <p class="welcome">This application was made for the coder you and we're trying to keep you updated with the latest coding competitions, challenges, tutorials and so on. </p>
                <p><a class="btn btn-primary btn-lg" href="https://codrapp.wordpress.com/" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>HackerRank</h2>
                    <p>The HackerRank team is on a mission to flatten the world by restructuring the DNA of every company on the planet. We rank programmers based on their coding skills, helping companies source great programmers and reduce the time to hire. </p>
                    <p><a class="btn btn-default" href="https://www.hackerrank.com/" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>CodeForces</h2>
                    <p>Codeforces is a website for competitive programming.Contestants are rated by a system similar to ELO. There are usually no prizes for winners, though 2-3 times a year special contests are held, in which top performing contestants receive T-shirts. </p>
                    <p><a class="btn btn-default" href="http://codeforces.com/" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>TopCoder</h2>
                    <p>Topcoder hosts fortnightly online competitive programming competitions—known as "single round matches"—as well as weekly competitions in graphic design and development. The work in design and development produces useful software.</p>
                    <p><a class="btn btn-default" href="https://www.topcoder.com" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <hr>
        </div>  
               
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container footer">
                <p class="navbar-text pull-left">© 2017 - Site Built By Luncasu Victor and Nastasa Laura</p>
                <a href="https://codrapp.wordpress.com/" class="navbar-btn btn-danger btn pull-right"><i class="glyphicon glyphicon-star"></i>&nbsp; See more about this project</a>
            </div>
        </div>