        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <div class="container-fluid userbar"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                    <a class="navbar-brand" href="#home">CoDR</a> 
                </div>                 
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;"> 
                    <ul class="nav navbar-nav"> 
                        <li>
                            <a href="#home" class="userbarMenu">Home</a>
                        </li>                         
                        <li>
                            <a href="#futurecontests" class="userbarMenu">Contests</a>
                        </li>
                        <li> 
                            <a href="#about" class="userbarMenu">About</a>
                        </li>
                        <li>
                            <a href="#contact" class="userbarMenu">Contact</a>
                        </li>                         
                    </ul>                     
                    <form class="navbar-form navbar-left" role="search"> 
                        <div class="form-group"> 
                            <input type="text" class="form-control search" placeholder="Search"> 
                        </div>                         
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>                         
                    </form>                     
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="#" class="userbarMenu">Welcome, User</a>
                        </li>                         
                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings&nbsp;<b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="#settings" class="userbarMenu">Settings</a>
                                </li>                                                              
                                <li class="divider"></li>                                 
                                <li>
                                    <a href="#login" class="userbarMenu"><i class="glyphicon glyphicon-off"></i>&nbsp;Logout</a>
                                </li>                                 
                            </ul>                                
                        </li>                         
                    </ul>                     
                </div>                 
            </div>             
        </nav>
        <div id="accordions" class="container-fluid">
        <center>
            <h3 class="accordion">Update Profile</h3></center>
            <div class="panel">
                <form>
                    <div class="form-group"> 
                        <label class="control-label" for="formInput119">First Name</label>
                        <input type="text" class="form-control" id="formInput119" placeholder="Placeholder text">
                    </div>
                    <div class="form-group"> 
                        <label class="control-label" for="formInput139">Last Name</label>
                        <input type="text" class="form-control" id="formInput139" placeholder="Placeholder text">
                    </div>
                    <div class="form-group"> 
                        <label class="control-label" for="formInput001">Interests</label>
                        <tags-input id="formInput001" class="bootstrap" ng-model="filters.tags" placeholder="Add tag" replace-spaces-with-dashes="false">
                            <auto-complete source="loadTags()" min-length="0" debounce-delay="0" max-results="10"></auto-complete>
                        </tags-input>
                    </div>
                    <br>
                    <center>
                        <button type="submit" class="btn btn-info" ng-click="filter()">Filter!</button>                         
                    </center>
                </form>
            </div>
            <center><h3 class="accordion">Add Contest</h3></center>
            <div class="panel">
                <form>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group"> 
                                <label class="control-label" for="formInput71">Contest Name</label>
                                <input type="text" class="form-control" id="formInput71" placeholder="Placeholder text">
                            </div>                             
                        </div>
                        <div class="col-md-5">
                            <div class="form-group"> 
                                <label class="control-label" for="formInput88">Contest Description</label>
                                <input type="text" class="form-control" id="formInput88" placeholder="Placeholder text">
                            </div>                             
                        </div>
                        <div class="col-md-5">
                            <div class="form-group"> 
                                <label class="control-label" for="formInput1000">Start Date</label>
                                <input type="date" class="form-control" id="formInput1000">
                            </div>                             
                        </div>
                        <div class="col-md-5">
                            <div class="form-group"> 
                                <label class="control-label" for="formInput1001">End Date</label>
                                <input type="date" class="form-control" id="formInput1001">
                            </div>                             
                        </div>
                        <div class="col-md-5">
                            <div class="form-group"> 
                                <label class="control-label" for="formInput1002">Site</label>
                                <input type="text" class="form-control" id="formInput1002">
                            </div>                             
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"> 
                                <label class="control-label" for="formInput001">Tags related</label>
                                <tags-input id="formInput001" class="bootstrap" ng-model="filters.tags" placeholder="Add tag" replace-spaces-with-dashes="false">
                                    <auto-complete source="loadTags()" min-length="0" debounce-delay="0" max-results="10"></auto-complete>
                                </tags-input>
                            </div>                             
                        </div>
                    </div>
                    <center>
                        <button type="submit" class="btn btn-info" ng-click="filter()" >Filter!</button>                         
                    </center>
                </form>
            </div>
        </div>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container footer">
                <p class="navbar-text pull-left">© 2017 - Site Built By Luncasu Victor and Nastasa Laura</p>
                <a href="https://codrapp.wordpress.com/" class="navbar-btn btn-danger btn pull-right"><i class="glyphicon glyphicon-star"></i>&nbsp; See more about this project</a>
            </div>
        </div>

<!--         <script type="text/javascript">
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
              acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                  panel.style.maxHeight = null;
                } else {
                  panel.style.maxHeight = panel.scrollHeight + "px";
                } 
              }
            }
        </script> -->