        <nav class="navbar navbar-default" role="navigation"> 
            <div class="container-fluid userbar"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                    <a class="navbar-brand" href="#home">CoDR</a> 
                </div>                 
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;"> 
                    <ul class="nav navbar-nav"> 
                        <li>
                            <a href="#home" class="userbarMenu">Home</a>
                        </li>                         
                        <li>
                            <a href="#futurecontests" class="userbarMenu">Contests</a>
                        </li>
                        <li> 
                            <a href="#about" class="userbarMenu">About</a>
                        </li>
                        <li>
                            <a href="#contact" class="userbarMenu">Contact</a>
                        </li>                         
                    </ul>                     
                    <form class="navbar-form navbar-left" role="search"> 
                        <div class="form-group"> 
                            <input type="text" class="form-control search" placeholder="Search"> 
                        </div>                         
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>                         
                    </form>                     
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="#" class="userbarMenu">Welcome, User</a>
                        </li>                         
                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i>&nbsp;Settings&nbsp;<b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="#settings" class="userbarMenu">Settings</a>
                                </li>                                                              
                                <li class="divider"></li>                                 
                                <li>
                                    <a href="#login" class="userbarMenu"><i class="glyphicon glyphicon-off"></i>&nbsp;Logout</a>
                                </li>                                 
                            </ul>                              
                        </li>                         
                    </ul>                     
                </div>                 
            </div>             
        </nav>
        <div class="container">
            <center>
                <div id="editor">{{solution}}
                </div>
            </center>
        </div>
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container footer">
                <p class="navbar-text pull-left">© 2017 - Site Built By Luncasu Victor and Nastasa Laura</p>
                <a href="https://codrapp.wordpress.com/" class="navbar-btn btn-danger btn pull-right"><i class="glyphicon glyphicon-star"></i>&nbsp; See more about this project</a>
            </div>
        </div>
