<p>CoDR - Code Visualizer and Recommender</p>
<header>
<h1>CoDR - Code Visualizer and Recommender</h1>
<h2>Technical Report</h2>
<h2>&nbsp;</h2>
</header>
<div>
<dl>
<dt>Authors</dt>
<dd>Luncașu Victor &amp; Nastasă Laura Adriana</dd>
</dl>
<section id="abstract">
<h2>Abstract</h2>
<p>CoDR is an Web application and an API very useful to people passionate about coding. Its main idea is to collect and structure information about challenges and contests that one is interested about. Based on some recommendation algorithms and on user&rsquo;s preferences, one can find also recommendations regarding another similar challenges, problems or even tutorials. Our application will be able to send weekly emails to its users with a summary of the most important contests or challenges coming up. Using this new application, the user won&rsquo;t have to check multiple sites for new contest, but the contests will be on one single place and will come to him.</p>
</section>
<section id="tableOfContents">
<h2>Table Of Contents</h2>
<ol>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#technologies">Technologies</a></li>
<li><a href="#functionalities">Functionalities</a></li>
<li><a href="#model">Model</a>
<ol>
<li>Data Model</li>
<li>Schema Model</li>
</ol>
</li>
<li><a href="#apis">Public APIs</a>
<ol>
<li>DBPedia API</li>
<li>TopCoder API</li>
<li>HackerRank API</li>
<li>CodeForces API</li>
</ol>
</li>
<li><a href="#sparqlendpoint">Sparql Endpoint</a></li>
<li><a href="#bibliography">Bibliography</a></li>
</ol>
</section>
<section id="introduction">
<h2>Introduction</h2>
<p>Nowadays, recommendations are used everywhere in online environment and there are a lot of algorithms developed in order to guess about what the user wants to find more information. Online, there are now a lot of platforms that allow one person to improve its coding skills,but in order to participate to one, the need to do research first appears. Using these platforms APIs, this web application&rsquo;s purpose is to put together all contests one is interested in at some point.</p>
<p>Also, another objective of this application is to offer submitted solutions to problems and challenges, so if somebody participated on some contest but they were overwhelmed by the topic, they can find it on our application, lookup for the contest and see different approaches. This helps the user to learn something new and to overcome the frustration that comes with losing a competition.</p>
<p>The main public APIs used in this application are: TopCoder API, HackerRank API and CodeForces API.</p>
</section>
<section id="technologies"><!-- review? -->
<h2>Technologies Used</h2>
<p>For the development of the application, the following terms are going to be used: HTML, CSS, AngularJS, Python, NodeJS, MongoDB.</p>
</section>
<section id="functionalities"><!-- review? -->
<h2>Functionalities</h2>
<p>The application will allow the authenticated users and the unauthenticated users to have access to the application but on different levels.</p>
<p>An unauthenticated user will have the possibility to:</p>
<ul>
<li>explore contests categories;</li>
<li>filter contests categories;</li>
<li>visualize contests descriptions.</li>
</ul>
<p>An authenticated regular user will have access to:</p>
<ul>
<li>login with different media accounts via OAuth;</li>
<li>explore and filter contests categories;</li>
<li>visualize contests descriptions and submitted solutions;</li>
<li>promote its own challenge/ contest;</li>
<li>view and access recommendations based on its preferences and application exploring.</li>
</ul>
<p>An authenticated admin user will have access to:</p>
<ul>
<li>login with different media accounts via OAuth;</li>
<li>explore and filter contests categories;</li>
<li>visualize contests descriptions and submitted solutions;</li>
<li>promote its own challenge/ contest;</li>
<li>view and access recommendations based on its preferences and application exploring;</li>
<li>remove users, contests, submissions;</li>
<li>approve new challenges promotions.</li>
</ul>
<p>Another functionality of the application will allow the users to receive every week an email containing information about their interests.</p>
</section>
<section id="model"><!-- review? -->
<h2>Model</h2>
<h3>Data Model</h3>
<figure id="user">
<pre><code>
"User": {
            "type": "object",
            "properties": {
                "username": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "interests": {
                    "type": []
                }
            }
        }
          </code></pre>
<pre><code>
"Recommendation": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                }
            }
        }
          </code></pre>
<pre><code>
"Contest": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "int64"
                },
                "description": {
                    "type": "string"
                },
                "peopleNumber": {
                    "type": "int64"
                },
                "difficulty": {
                    "type": "int"
                },
                "acceptance": {
                    "type": "float"
                },
                "tags": {
                    "type": []
                },
                "startDate": {
                    "type": "string"
                },
                "tags": {
                    "type": []
                }
            }
        }
          </code></pre>
<pre><code>
  "Solution": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "int64"
                },
                "text": {
                    "type": "string"
                },
                "language": {
                    "type": "string"
                },
                "submissionDate": {
                    "type": "string"
                },
                "codeRepository": {
                    "type": "string"
                },
                "contestId": {
                    "type": "long"
                }
            }
        }
  </code></pre>
<pre><code>
    "Tag" :{
	"type":"object",
	"properties":{
		"name":{
			"type":"string"
		},
		"description":{
			"type":"string"
		}
	}
}
  </code></pre>
<h3>Schema Model</h3>
<p>The information about the contests will be mapped using the schema: <a href="https://schema.org/SoftwareSourceCode">SoftwareSourceCode</a></p>
</figure>
</section>
<section id="apis">
<h2>Public APIs</h2>
<p>In order to retrieve up-to-date information about contests the application is going to use several public APIs offered by the most well-known coding platforms like <a href="https://www.hackerrank.com">HackerRank</a> or <a href="http://codeforces.com/">CodeForces</a>. Additionally, for recommendations the application will use <a href="http://wiki.dbpedia.org/"> DBPedia</a> datasets.</p>
<h3>DBPedia API</h3>
<p>DBpedia is an API used to extract structured information from Wikipedia. DBpedia allows you to query Wikipedia data in a complex way and to link other datasets to Wikipedia data.</p>
<h3>TopCoder API</h3>
<p>TopCoder is one of the most popular coding platforms and their API offers access to their challenges and members. The application can retrieve many challenges categories: past, active, upcoming and even statistics about this community&rsquo;s members.</p>
<h3>HackerRank API</h3>
<p>HackerRank API is another api offered by a coding platform and it has a very nice functionality: the application could use it to compile a submitted code and run it among a set of test cases.</p>
<h3>CodeForces API</h3>
<p>This API offers complex information about their data regarding users and problems. The application can access even user&rsquo;s friends or rating and even problem statistics.</p>
</section>
<section id="sparqlendpoint">
<p>Our application offers access to the desired information via an sparql endpoint which can be located at: <a href="http://localhost:5000/sparql">Our SPARQL Endpoint</a> A typical query for example would be:</p>
<p><a href="http://codrapp.tk:5000/sparql?query=SELECT ?a ?p ?b WHERE { ?a ?p ?b } LIMIT 5">Example of query</a></p>
<p>As we described in the technologies section, StarDog was used as a solution to a graph based database. This way, our data is stored as triples, except for the solutions. Solutions are stored in MongoDB. An example of sparql written in Python with SPARQLWrapper that filters contests from the StarDog based on some criterias like &ldquo;programming-language&rdquo;, &ldquo;number of participants&rdquo;, &ldquo;difficulty&rdquo;.</p>
<pre>  <code>def filterChallenges(participants, difficulty, IRI, tags):
   sparql = get_sparql()
   q = prefix + """
           SELECT ?name ?desc ?IRI ?difficulty ?participants
           WHERE {{
               ?c rdf:type codr:Contest ;
                   codr:name       ?name ;
                   codr:desc       ?desc ;
                   codr:start_date ?start_date ;
                   codr:end_date   ?end_date ;
                   codr:IRI        ?IRI ;
                   codr:difficulty ?difficulty ;
                   codr:participants  ?participants ; """
   if difficulty is not None:
       q += """
                   codr:difficulty "{0}" ;""".format(difficulty)
   if IRI is not None:
       q += """
                   codr:IRI        "{0}" ;""".format(IRI)
   if tags is not None and tags != "":
       for tag in tags.split(","):
           q += """
                       codr:hasTag     "{0}" ;""".format(tag)
   q += """
                   ns:id   ?id ."""
   if participants is not None:
       q += """
                   FILTER (?participants &gt; {0})""".format(participants)
   q += """
           }}"""
   print q
   sparql.setQuery(q)
   results = sparql.query().convert()
   return serialize(results)
</code>
</pre>
  <p>Based on the user interest we may want to recommend to user to read some tutorials about the topics they are interested in. In order to do this we have a SPARQL query that queries DBPedia.
</p>
  <pre><code>
  SELECT ?label (SAMPLE(?abs) AS ?abs) (SAMPLE(?url) AS ?url) WHERE {{
   [] rdf:type yago:WikicatAlgorithms ;
       dbo:abstract ?abs ;
       dct:subject {0} ;
       dbo:wikiPageExternalLink ?url ;
       rdfs:label ?label .
   FILTER (lang(?label) = 'en')
}} GROUP BY ?label LIMIT 5
</code></pre>
  <p>The label is chosed based on the tag. For a predefined list of tags we found the subject in which it is contained, for example:</p>
  <pre><code>"strings": "dbc:Algorithms_on_strings",
"graphs": "dbc:Graph_algorithms",
"dfs and similar": "dbc:Search_algorithms",
"sortings": "dbc:Sorting_algorithms",
</code></pre>
</section>
<section id="bibliography">
<h2>Bibliography</h2>
<ul>
<li><a href="http://www.programmableweb.com/api/dbpedia"> DBPedia</a></li>
<li><a href="http://codeforces.com/api/help">CodeForces</a></li>
<li><a href="https://www.hackerrank.com/api/docs">HackerRank</a></li>
<li><a href="https://jena.apache.org/tutorials/sparql_optionals.html">SPARQL</a></li>
<li><a href="https://www.w3.org/TR/REC-rdf-syntax/ ">RDF</a></li>
<li><a href="https://schema.org/docs/full.html">schema.org</a></li>
<li><a href="http://rest.elkstein.org/ ">REST</a></li>
</ul>
</section>
</div>